@import "tailwindcss";

  :root {
  --body-background:#EEFCF2;
  --banner-btn :#68B16A;
  --subtitle:#FFA03F;
  --ptext:#6A6A6A;
  --cardbackground:#E7FBED;
  --h2color:#E5E5E5;
  --dropdowntext:#737373;
  --imagebackground:#FFEEEE;
  --loanvector:#254882;
  --bordvector:#CBD8EC;
  --navfont:'Poppins';

  } 


body{
  
  margin: 0 auto ;
  width: 100vw;
  overflow-x: hidden;
}


.circle-bord{

/* Line 10 */

width: 64.01px;
height: 0px;
position: absolute;
left: 100%;
top:30px;
border: 3px solid #62AC62;
transform: rotate(89.55deg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;




}
.circle-btn{


width: 175px;
height: 45px;






background: linear-gradient(90deg, #68B17D 0%, #72FE76 100%);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
padding-left: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.circle{
  position: absolute;
  /* width:1000px;
  height: 1000px; */
z-index: -1;
  border-radius: 50%;
  background:var(--body-background);
  top: -700px;
  right: -280px;
  width: 1176px;
  height: 1176px;
}


.circle-dot{
  position: absolute;
  bottom: 78px;
  right: 320px;
}
.circle-allImg {
  position: absolute;
  right: 40px;
  bottom: -478px;
  width: 570px;
  height: 570px;
  border-radius: 50%;
  z-index: 1;
  animation: circle-rotate 20s linear infinite;
  transform: translate(-50%, -50%);
}

/* Common styling for icon blocks */
.icon-block {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Image animation */
.icon-block .Image {
  animation: img-rotate 20s linear infinite;
  margin: 0 auto;
}

/* Position icons in 8 directions like a clock face */
.icon-block:nth-child(1) {
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-block:nth-child(2) {
  top: 20%;
  left: 85%;
  transform: translate(-50%, -50%);
}
.icon-block:nth-child(3) {
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}
.icon-block:nth-child(4) {
  bottom: 20%;
  left: 85%;
  transform: translate(-50%, 50%);
}
.icon-block:nth-child(5) {
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.icon-block:nth-child(6) {
  bottom: 20%;
  left: 15%;
  transform: translate(-50%, 50%);
}
.icon-block:nth-child(7) {
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
}
.icon-block:nth-child(8) {
  top: 20%;
  left: 15%;
  transform: translate(-50%, -50%);
}

/* Circle rotation animation */
@keyframes circle-rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Individual image rotation (optional) */
@keyframes img-rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


/* keyframe animation */

@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes Rotate-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes Rotate-reverse {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes circle-rotate {
  from {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(405deg);
  }
}

@-webkit-keyframes circle-rotate {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(405deg);
  }
}

@keyframes img-rotate {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(-405deg);
  }
}

@-webkit-keyframes img-rotate {
  from {
    -webkit-transform: rotate(-45deg);
  }
  to {
    -webkit-transform: rotate(-405deg);
  }
}



    /* Rotating Images */
    .icon-block {
      position: absolute;
      width: 150px;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      transform-origin: center;
      transform: rotate(calc(var(--i) * 72deg)) translate(180px) rotate(calc(var(--i) * -72deg));
    }

    .icon-block .Image{
      width: 80%;
      animation: rotate-reverse 20s linear infinite;
    }

    /* Animations */
    @keyframes rotate-circle {
      from {
        transform: rotate(0deg);
        z-index: -5;
      }
      to {
        transform: rotate(360deg);
      }
    }

    @keyframes rotate-reverse {
      from {
        transform: rotate(360deg);
      }
      to {
        transform: rotate(0deg);
      }
    }




/* .circle-img{
  position: absolute;
  bottom: -100PX;
  right: 455px;
} 
.circle-dot{
  position: absolute;
  bottom: 78px;
  right: 320px;
}
.circle-subImg{
  position: absolute;
  bottom: -10px;
  right: -30px;

}
.circle-subImg1{
  position: absolute;
  bottom: 180px;
  right: 60px;

}
.circle-subImg2{
  position: absolute;
  bottom: 250px;
  right: 250px;

}
.circle-subImg3{
  position: absolute;
  bottom: 160px;
  left: 40px;

}
.circle-subImg4{
  position: absolute;
  bottom: -10px;
  left: -30px;

} */




.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;

  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}
.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc(
    (10s / var(--quantity)) * (var(--position) - 1)
  ) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .list .item img {
  max-width: 150%;
  max-height: 150%;
  width: 100%;
  object-fit: contain;
  opacity: 0.9;
}

.slider .list .item img.ss {
  max-width: 200px;
}
@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}
.slider .item:hover {
  filter: grayscale(0);
}
.slider[reverse="true"] .item {
  animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay {
  from {
    left: calc(var(--width) * -1);
  }
  to {
    left: 100%;
  }
}

/* education container */

.element-1{
  position: absolute;
  left: 0px;
  bottom: 60px;
}
.element-2{
  position: absolute;
  right: 0px;
  bottom: 100px;
}
.element-3{
  position: absolute;
  left: 180px;
  bottom: 80px;
}
.element-4{
  position: absolute;
  right: 140px;
  bottom: 260px;
}

/* whychoose content */

.readmore{
padding: 10px;

background: #88C451;
border-radius: 50px;

}

.book-element-1{
  position: absolute;
top: 390px;
right: 60px;
}
.book-element-2{
  position: absolute;
top: 30px;
right: 60px;
}
.book-element-3{
  position: absolute;
  left: 20px;
  bottom: 150px;
}
.book-element-4{
  position: absolute;
  top: 20px;
  left:30px;
}
.book-element-5{
  position: absolute;
  top: 0px;
  right: 0px;
}
.book-element-6{
  position: absolute;
  top: 50px;
  right: 90px;

}
.book-element-7{
  position: absolute;
  left: 13px;
  bottom: 110px;
}
.book-element-8{
  position: absolute;
  left: -9px;
  bottom: 107px;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

/* .contain{
  position: relative;
}
.middle{
  position: absolute;
  bottom: 50px;
  left: 40px;
  opacity: 0;
}

.contain:hover .middle{
  opacity: 1;
} */


/* Rectangle 702 */

.rect{
  box-sizing: border-box;

background: rgba(255, 237, 237, 0.37);
backdrop-filter: blur(27.5px);
}

.load{
  background:white;
  box-shadow: 8.79358px 4.7965px 24.7819px #EBEBEB;
  border-radius: 15.9883px 15.9883px 0px 0px;
  
}



/* .icon-scroller{
  animation: verticalscroll 6s linear infinite;
}
@keyframes verticalscroll {
   0%{
    transform: translateY(50%);
   }100%{
    transform: translateY(0%);
   }
} */
@keyframes scroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
}



/* university partner */

.slider1 {
  width: 60%;
  height:30px;
  overflow: hidden;

  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}
.slider1 .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.slider1 .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc(
    (10s / var(--quantity)) * (var(--position) - 1)
  ) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider1 .list .item img {
  max-width: 150%;
  max-height: 150%;
  width: 100%;
  object-fit: contain;
  opacity: 0.9;
}

.slider1 .list .item img.ss {
  max-width: 200px;
}
@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
.slider1:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}
.slider1 .item:hover {
  filter: grayscale(0);
}
.slider1[reverse="true"] .item {
  animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay {
  from {
    left: calc(var(--width) * -1);
  }
  to {
    left: 100%;
  }
}

/* university partner */


